$primary-font-color:      #262626;
$secondary-font-color: #8d8d8d;
$nav-tabs-link-active-color:        #c32c72;
$navbar-light-color:                #F4F3EE;
$primary-background-color:#e5e5e5;
$primary-fill-color:$navbar-light-color;
$secondary-fill-color: $white;
$secondary-fill-border-color: $nav-tabs-link-active-color;
$dark-fill-color: $nav-tabs-link-active-color;
$dark-fill-color-border-color: $white;
$box-shadow: $secondary-font-color;

