footer {
	@extend .container-column;
	align-items: center;
	background-color: $primary-background-color;
	margin-top: 2rem;
	font-size: 0.8em;
	color: $lighter-header-color;
	padding: 0.5em;

	&__item {
		color: $lighter-header-color;
	}

	&__item--link:hover {
		color: $nav-tabs-link-active-color;
	}

	@media (min-width: $tablet-width) {
		padding: 1rem;
		flex-direction: row;
		justify-content: space-between;
	}
}
