nav.navbar {
	.container-fluid{
		align-items:flex-end;
	}

	.navbar-brand {
		font-size: 39px;
		text-transform: uppercase;
	}

	.navbar-toggler{
		font-size: 2rem;
	}
}



.navbar-nav {
	background-color: red;

	.navbar-nav__link{
		color: orange;
		text-decoration: none;
	}

	.navbar__link--active {
		color: $nav-tabs-link-active-color;
	}
}

