nav {
	background: $navbar-light-colorte;

	.container {
		@extend .container-flex;
		justify-content: start;
		align-items: center;
	}

	.logo {
		font-size: 1.1em;
		text-transform: uppercase;
		font-weight: bold;
	}

	ul {
		list-style: none;
		display: flex;
	}

	li {
		margin-left: 1.5em;
	}

	a {
		color: $lighter-header-color;
		text-decoration: none;
	}

	a.active {
		color: $nav-tabs-link-active-color;
		padding: 0.4em 0.4em 0.1em;
	}
}
