h1 {
	font-family: $font-primary;
	font-weight: normal;
	font-size: 34px;
	width: 100%;
	margin-bottom: 0.5rem;
	color: $header-font-color;

	@media (min-width: $tablet-width) {
		margin-top: 3rem;
	}
}
